#DATABASE
DATABASE_URL="mysql://username:password@localhost:port/database"

# NATS
NATS_DNS="localhost"
NATS_PORT="4223"


# MAILER
MAILER_HOST="smtp.gmail.com"

MAILER_SENDER="adresse@gmail.com"
MAILER_TOKEN="azerty"

# NODEMAILER 
NODEMAILER_PORT="587"


