{{#> base-template title="Réinitialisez votre mot de passe CvTools"}}
  {{#*inline "body"}}
    <h1 class="main-title">Bonjour {{userName}} !</h1>

    <p class="main-description">
      Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le
      bouton ci-dessous pour créer un nouveau mot de passe.
    </p>

    <a href="{{resetPasswordLink}}" class="cta-button">
      Réinitialiser mon mot de passe
    </a>

    <div class="divider"></div>

    <div class="security-info">
      <p>
        Ce lien expire dans 1 heure. Si vous n'avez pas demandé cette
        réinitialisation, ignorez cet email.
      </p>
    </div>
  {{/inline}}
{{/base-template}}
